@model HWWEB.Models.Broker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Broker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BrokerID }, new {@class="btn btn-primary"}) |
    @Html.ActionLink("Back to List", "Index")
</p>
